.App {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	main {
		background: #ffffff;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
		border-radius: 12px;
		padding: 32px;
		width: 402px;
		height: 469px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		button {
			border: none;
			padding: 0.5rem 1rem;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: -0.035em;
			background: #2f80ed;
			border-radius: 8px;
			color: #ffffff;
		}
	}
}

.drag-area {
	width: 100%;
	padding: 1rem;
	min-height: 200px;
	border: 2px dashed #97bef4;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}

h1 {
	margin-top: 0;
	font-weight: 500;
	font-size: 1.5rem;
	color: #444;
}

h2 {
	margin-top: 0;
}

h2,
h3 {
	font-weight: normal;
	font-size: 1rem;
}

h2,
h3,
p {
	color: #888;
}
